@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;800&display=swap");

/* REINITILISE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.header__nav__menu {
  list-style: none;
  display: flex;
}

.header__nav__menu-item {
  border-right: 1px solid black;
  padding: 10px 30px;
}

.header__nav__menu-item:last-child {
  border: none;
}

/* ----------------------------------------------------------------
      BEGIN MAIN CONTENT STYLING EDITIONS
   -----------------------------------------------------------------*/
.main {
  margin: auto;
  padding: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: 80vw;
}

.main__about-me {
  width: auto;
  margin-left: 4vw;
  text-align: justify;
}

.main__about-me h1 {
  margin-bottom: 3vw;
  font-size: 4vw;
}

.main__text {
  font-size: 1.5vw;
}

.main__about-me__bubleLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main__about-me__bubbleLinks div {
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
}

img {
  width: 30vw;
  border-radius: 50%;
}

/* =================================================================
    FOOTER EDITING 
   =================================================================*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80vw;
  padding: 25px 50px;
}
