main {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
  box-shadow: 10px 10px 10px rgba(255, 12, 12, 0);
}

.main__container__experience-pro__header {
  display: flex;
  justify-content: space-between;
}

.main__container__experience-pro__header__title {
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: bold;
}

.main__container__experience-pro,
section {
  padding-top: 3vw;
  padding-bottom: 3vw;
}

ul {
  list-style: circle;
  padding-left: 16px;
}

.where {
  margin-bottom: 26px;
}

main h1 {
  font-weight: 900;
  font-size: 28px;
  padding-bottom: 40px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.main__container__experience-pro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;
  border-bottom: 1px solid #7f7f7f;
}

@media screen and (max-width: 768px) {
    main .title {
    font-size: 18px;
    padding: 0;
  }
  .main__container section {
    margin-bottom: 30px;
  }

  section h1 {
    font-size: 15px;
    padding: 0;
  }
  .main__container__experience-pro {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .main__container__experience-pro__header__title h3 {
    font-size: 12px;
    line-height: 24px;
  }

  .date,
  .where,
  main p,
  main ul li {
    font-size: 10px;
    line-height: 20px;
  }

}
