/* =================================================================
    FOOTER EDITING 
   =================================================================*/
footer {
  border-top: 5px solid #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
  padding: 25px 50px;
  font-size: 15px;
  line-height: 31.95px;
}

.footer__social {
  display: flex;
  justify-content: space-evenly;
}

.footer__title:last-child {
  font-weight: normal;
}

.footer__social i {
  font-size: 24px;
}

/* =================================================================
    BEGIN RESPONSIVE CONTENT STYLING EDITIONS
   =================================================================-*/

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    padding: 35px 0;
  }

  .footer__item h3 {
    font-size: 26px;
  }

  .footer__social {
    font-size: 26px;
  }

  .footer__item p {
    font-size: 22px;
  }




  .footer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1023px) {
  footer {
    font-size: 80%;
  }
}
